ShowTrackerLoginRegistrationClient/App_WebReferences/LoginServiceReference/ShowTrackLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShowTrackLoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1176/ShowTrackLoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1176/ShowTrackLoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1176/ShowTrackLoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShowTrackLoginService_VenueLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueLogin" />
  </wsdl:message>
  <wsdl:message name="IShowTrackLoginService_VenueLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IShowTrackLoginService_VenueRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueRegistration" />
  </wsdl:message>
  <wsdl:message name="IShowTrackLoginService_VenueRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IShowTrackLoginService_AddArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArtist" />
  </wsdl:message>
  <wsdl:message name="IShowTrackLoginService_AddArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IShowTrackLoginService_AddShow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShow" />
  </wsdl:message>
  <wsdl:message name="IShowTrackLoginService_AddShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowResponse" />
  </wsdl:message>
  <wsdl:message name="IShowTrackLoginService_AddShowDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetail" />
  </wsdl:message>
  <wsdl:message name="IShowTrackLoginService_AddShowDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="IShowTrackLoginService">
    <wsdl:operation name="VenueLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackLoginService/VenueLogin" message="tns:IShowTrackLoginService_VenueLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackLoginService/VenueLoginResponse" message="tns:IShowTrackLoginService_VenueLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VenueRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackLoginService/VenueRegistration" message="tns:IShowTrackLoginService_VenueRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackLoginService/VenueRegistrationResponse" message="tns:IShowTrackLoginService_VenueRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackLoginService/AddArtist" message="tns:IShowTrackLoginService_AddArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackLoginService/AddArtistResponse" message="tns:IShowTrackLoginService_AddArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackLoginService/AddShow" message="tns:IShowTrackLoginService_AddShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackLoginService/AddShowResponse" message="tns:IShowTrackLoginService_AddShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShowDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackLoginService/AddShowDetail" message="tns:IShowTrackLoginService_AddShowDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackLoginService/AddShowDetailResponse" message="tns:IShowTrackLoginService_AddShowDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShowTrackLoginService" type="tns:IShowTrackLoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VenueLogin">
      <soap:operation soapAction="http://tempuri.org/IShowTrackLoginService/VenueLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VenueRegistration">
      <soap:operation soapAction="http://tempuri.org/IShowTrackLoginService/VenueRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <soap:operation soapAction="http://tempuri.org/IShowTrackLoginService/AddArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <soap:operation soapAction="http://tempuri.org/IShowTrackLoginService/AddShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShowDetail">
      <soap:operation soapAction="http://tempuri.org/IShowTrackLoginService/AddShowDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShowTrackLoginService">
    <wsdl:port name="BasicHttpBinding_IShowTrackLoginService" binding="tns:BasicHttpBinding_IShowTrackLoginService">
      <soap:address location="http://localhost:1176/ShowTrackLoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>